.img-inicio{
  width: 90%;
}

.bg-menu{
  background-color: black;
}

.bg-menuHambuerger{
  background-color: white;
}

.text-nav{
  color: white;
}

.text-nav:hover{
  color: yellow;
}

.card-puestos{
  width: 400px;
  height: 700px;
}

.pdf-view{
  height: 400px;
}

.nombreHeader{
  width: 40px;
}

.container-pdf iframe {
  width: 100%;
}